<web-app>
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>xq_xuqi@163.com</param-value>
    </context-param>
    <context-param>
        <param-name>breed</param-name>
        <param-value>Poodle</param-value>
    </context-param>

    <listener>
        <listener-class>io.github.nealxu.MyServletContextListener </listener-class>
    </listener>

    <servlet>
        <servlet-name>Beer</servlet-name>
        <servlet-class>io.github.nealxu.BeerSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListenerTest</servlet-name>
        <servlet-class>io.github.nealxu.ServletContextListenerTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>io.github.nealxu.CookieTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCookie</servlet-name>
        <servlet-class>io.github.nealxu.CheckCookie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Beer</servlet-name>
        <!-- "/" is root represents the context root of the web app -->
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListenerTest</servlet-name>
        <url-pattern>/ListenerTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCookie</servlet-name>
        <url-pattern>/CheckCookie.do</url-pattern>
    </servlet-mapping>
</web-app>


