<web-app>
    <servlet>
        <servlet-name>Beer</servlet-name>
        <servlet-class>io.github.nealxu.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Beer</servlet-name>
        <!-- "/" is root represents the context root of the web app -->
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
</web-app>


