<web-app>
    <servlet>
        <servlet-name>Beer</servlet-name>
        <servlet-class>io.github.nealxu.BeerSelect</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>xq_xuqi@163.com</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Beer</servlet-name>
        <!-- "/" is root represents the context root of the web app -->
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
</web-app>


